Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods "*"
Header add Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With,Access-Control-Allow-Headers"
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.+)$
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>